<nav class="navbar">
    <a href="#">EXPERT SYSTEM FOR COVID 19 DIAGNOSIS</a>
</nav>

<div class="btn-container">
    <a class="btn btn-secondary btn-lg active" href="/login">Login</a>
    <a class="btn btn-warning btn-lg active" href="/register">Register</a>
</div>