<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EXPERT SYSTEM FOR COVID 19 DIAGNOSIS</a>
</nav>

<div style="margin-top: 300px; margin-left: 600px">
    <a class="btn btn-secondary btn-lg active" href="/login">Login</a>
    <a class="btn btn-warning btn-lg active" href="/register">Register</a>
</div>