<nav class="navbar">
    <a href="#">EXPERT SYSTEM FOR COVID 19 DIAGNOSIS</a>
</nav>

<div class="form-container">
    <div class="col-md-6">

        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form method="POST" action="/login">
            <div>
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" type="email" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div>
                <label for="exampleInputPassword1">Password</label>
                <input name="password" type="password" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>
</div>