<nav class="navbar">
    <a href="#">EXPERT SYSTEM FOR COVID 19 DIAGNOSIS</a>
</nav>

<div class="form-container">
    <div class="col-md-4">

        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}

        <form method="POST" action="/register">
            <div>
                <label for="firstNameInput">First Name</label>
                <input name="firstName" type="text" id="firstNameInput">
            </div>

            <div>
                <label for="lastNameInput">Last Name</label>
                <input name="firstName" type="text" id="lastNameInput">
            </div>

            <div>
                <label for="emailInput">Email address</label>
                <input name="email" type="email" id="emailInput" placeholder="Enter email">
            </div>

            <div>
                <label for="passwordInput">Password</label>
                <input name="password" type="password" id="passwordInput" placeholder="Password">
            </div>

            <div>
                <label for="confirmPasswordInput">Confirm Password</label>
                <input name="confirmPassword" type="password" id="confirmPasswordInput"
                    placeholder="Re-enter your password here">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Login</button>
        </form>
    </div>
</div>