* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  transition: .3s all linear;
}
html{
  font-size: 65%;
}
p {
  color: #334155;
  line-height: 1.6;
}

body {
  background-image: url(COVID-19-Home-Slider-image.png);
  /* background-attachment: fixed; */
  /* linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), */
  /* linear-gradient(#eee .1em, transparent .1em); */
  /* background-size: 100% */
}
body::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
body *{
  z-index: 5;
}
.fixed-container {
  position: absolute;
  background-color: white;
  border: black 1px solid;
  border-radius: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 40rem;
  width: 60rem;
  max-width: 90%;
  /* border: solid red 1px; */
  overflow: hidden;
}


.question-container {
  padding: 4rem 4rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.question h1{
  font-size: 3rem;
}
.question h6{
  font-size: 1.6rem;
  font-weight: 800;
}
.question p{
  font-size: 1.4rem;
}
.question summary{
  font-size: 1.3rem;
}
.question small{
  color: blue;
  font-weight: 500;
}
.question #percentage{
  font-weight: 800;
}
.input button{
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
.input input {
  font-size: 1.7rem;
}
.input p{
  font-size: 1.4rem;
}

.question-container--on-standby {
  transform: translateY(200%);
  visibility: hidden;
}

.question-container--slide-in {
  transform: translateY(0);
  visibility: visible;
  transition: transform .6s cubic-bezier(0.4, 0.0, 1, 1),
  visibility 0s cubic-bezier(0.4, 0.0, 1, 1);
}

.question-container--slide-out {
  transform: translateY(-200%);
  visibility: hidden;
  transition: transform .8s cubic-bezier(0.0, 0.0, 0.2, 1),
              visibility .8s cubic-bezier(0.0, 0.0, 0.2, 1);
            }
            
.submit {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: none;
  background-color: #3B82F6;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color linear .2s;
}

.submit:hover {
  background-color: #60A5FA;
}


/* form starting stylings ------------------------------- */
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus { outline:none; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: gray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: gray;
}

.try-agn-btn {
  margin-top: 1rem;
  padding: .5rem 1rem;
  border: none;
  background-color: #3B82F6;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color linear .2s;
}
.navbar{
  width: 100vw;
  background-color: black;
}
.navbar a{
  width: 100%;
  color: white;
  font-size: 2rem;
}
.navbar a:hover{
  text-decoration: none;
  color: white;
}
.btn-container{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-container .btn {
  padding: 1rem 2.5rem;
  font-size: 2rem;
  margin-left: .6rem;
}

.form-container{
  display: flex;
  width: 50rem;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
form{
  width: 100%;
  margin: 0 1rem;
}
form label{
  color: blue;
  font-size: 1.7rem;
  width: 100%;
}
form div {
  margin-bottom: 2rem;
}
form input{
  width: 45rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
  font-size: 1.8rem;
  padding: 1rem 2rem;

}


@media(max-width: 560px) {
  html{
    font-size: 55%;
  }
  form input{
    width: 100%;
  }
  .fixed-container{
    height: 50rem;
  }
}